 </div>
 </div>
  <!--   Core JS Files   -->
  <script src="./javascript/core/jquery.min.js"></script>
  <script src="./javascript/core/popper.min.js"></script>
  <script src="./javascript/core/bootstrap.min.js"></script>
  <script src="./javascript/plugins/perfect-scrollbar.jquery.min.js"></script>


  <script src="./javascript/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="./javascript/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="./javascript/paper-dashboard.min.js?v=2.0.1" ></script><!-- Paper Dashboard DEMO methods, don't include it in your project! -->
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous"></script>
<script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
</body>

</html>
<script>
//  function hide(id) {
  
//     if(id==3){
//     $("a").hide();
//     }
//     else{
//       console.log("admin");
//     }
//   }
</script>