 <%- include('partials/header.ejs') %>

<div class="card">
<div class="card-body">
<div class="table-responsive">

<table class="table">
<thead class="text-primary">
<tr>
<th>ID</th>
<th>User Name</th>
<th>password</th>
<th>Mobile Number</th>
<th>Email</th>
<th>status</th>
<th>Role</th>
</tr>
</thead>
        <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(res){
   
        %>
<tbody>
<tr>
</tr>

</tbody>
</table>
</div>
</div>
</div>



  <%- include('partials/footer.ejs') %>